@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    font-family: 'SilkScreen', sans-serif;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container1, .container2, .container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: transparent;
    border: 5px dashed;
    min-width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: inherit;
    font-size: 24px;
}

.highlight {
    background-color: lightgray;
}

.instruction {
    display: flex;
    justify-content: center;
}

.visuals {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

.player, .cpu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    max-width: 250px;
    max-height: 250px;
    margin-bottom: 10px;
}

.results {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    font-size: 24px;
}

.scoreboard {
    display: flex;
}

.scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    font-size: 30px;
}

.score {
    font-size: 48px;
}


